@import '../../components/variables.css';

.root {
  padding-left: 0px;
  padding-right: 0px;
}

.container {
  margin: 0 auto;
  padding-bottom: 24px;
  max-width: 1080px;
}

.pageContainer {
  padding-top: 48px;
}

.containerTitle {
    color: #484848;
    line-height: 24px;
    margin: 0 0 24px;
    padding: 0px 15px;
    font-weight: bold;
}

@media screen and (max-width: 1170px) {
  .containerTitle {
    text-align: center;
  }
}
