@import '../../components/variables.css';

.root {
  padding-left: 0px;
  padding-right: 0px;
}

.container {
  margin: 0 auto;
  padding: 0px;
  /*max-width: var(--max-content-width);*/
  margin-top: 0px;
}

.pageContainer {
  background: #FFF;
  display: block;
  height: 100%;
  width: 100%;
}

.pageContent {
  max-width: 1080px;
  position: relative;
  display: block;
  margin: 0px auto;
  padding: 0px;
}

.horizontalLineThrough {
  position: relative;
  display: block;
  border-bottom: 1px solid #dce0e0;
}

.space1 {
  margin-bottom: 6px;
}

.space2 {
  margin-bottom: 12px;
}

.space3 {
  margin-bottom: 18px;
}

.space4 {
  margin-bottom: 24px;
}

.space5 {
  margin-bottom: 48px;
}

.spaceTop1 {
  margin-top: 6px;
}

.spaceTop2 {
  margin-top: 12px;
}

.spaceTop3 {
  margin-top: 18px;
}

.spaceTop4 {
  margin-top: 24px;
}

.spaceTop5 {
  margin-top: 48px;
}

.padding1 {
  padding-bottom: 6px;
}

.padding2 {
  padding-bottom: 12px;
}

.padding3 {
  padding-bottom: 18px;
}

.padding4 {
  padding-bottom: 24px;
}

.padding5 {
  padding-bottom: 48px;
}

.paddingTop1 {
  padding-top: 6px;
}

.paddingTop2 {
  padding-top: 12px;
}

.paddingTop3 {
  padding-top: 18px;
}

.paddingTop4 {
  padding-top: 24px;
}

.paddingTop5 {
  padding-top: 48px;
}

.noMargin {
  margin: 0px;
}

.noPadding {
  padding: 0px;
}

@media screen and (max-width:480px){
  .smPadding{
    padding: 0px;
  }
}


.panelDefault{
  z-index: 1;
  background: #ffffff;
  width: 100%;
}
.columnBox{
float: right;  
}

.navBack{
  background-color: #ffffff;
  margin-bottom: 0px;
}

.zPanel{
  z-index: 1;
  left: 0px;
  right: 0px;
  width: 100% !important;
}
.viewHeader{
      height: 51px;
    border-bottom: 1px solid #DBDBDB;
}

.headerText{
  color: #484848;
    font-family: inherit;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.2px;
    line-height: 22px;
}
.headerScroll{
      height: 100%;
    white-space: nowrap;
    padding-bottom: 30px;
    margin-bottom: -30px;
}

.textScroll{
    height: 100%;
    width: 100%;
}

.textList {
  display: inline-block;
  padding: 17px 10px 0px 10px;  
}

a{
  color: #008489;
}

.textColor{
  color: #008489;
    font: inherit;
    font-family: inherit;
    text-decoration: none;
    appearance: none;
    background: transparent;
    border: 0px;
    cursor: pointer;
    padding: 0px 15px;
    max-width: 1080px;
    margin: 0 auto
}
.headerNav{
  font-weight: normal;
    color: #484848;
    font-family: inherit;
    margin: 0px;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.2px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline;
}

.longBorder{
  position: fixed;
    top: 0px;
    background: #ffffff;
    width: 100%;
    height: 51px;
    border-bottom: 1px solid #DBDBDB;
}
.active, .active:hover, .active:focus{
    color: #484848;
    text-decoration: none;
    appearance: none;
    background: transparent;
    border: 0px;
    cursor: pointer;
    user-select: auto;
    font-weight: bold;
}

.dotnav{
  margin: 0 4px 0 4px;
}
.dotStyle{
  font-weight: normal;
    color: #484848;
    font-family: inherit;
    margin: 0px;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.2px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline;
}

.panelScroll{
 position: absolute;
 top: 3508px;
}

.stickyMenu li {
  padding: 0px;
}
.stickyMenu li:after {
  content: "\22C5";
  color: #484848;
  font-size: 18px;
  vertical-align: middle;
}

.stickyMenu li:last-child:after {
  display: none;
}

.mobDevice {
    display: none;
}

.webDevice {
    display: none;
}

@media screen and (max-width: 640px) {
  .stickyContainer {
    display: none;
  }
  .mobDevice {
    display: block !important;
  }
}



@media screen and (min-width: 641px) {
  .webDevice {
    display: block !important;
  }
}

.sectionTitleText {
  font-size: 24px;
  font-weight: bold;
}
