@import '../../../components/variables.css';
@import '../admin-common.css';

/** Dashboard - Start **/
.infoBox {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
    border: 1px solid rgba(0,0,0,0.1);
    border-bottom: 0px;
}

.infoBoxIcon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
    color: #FFF;
}

.infoBoxContent {
    padding: 5px 10px;
    margin-left: 90px;
}

.bgAqua {
  background-color: #00c0ef;
}

.bgRed {
  background-color: #dd4b39;
}

.bgYellow {
  background-color: #f39c12;
}

.bgGreen {
  background-color: #00a65a;
}

.bgTomato {
  background-color: #ff7e82;
}

/** Dashboard - End **/
