/** Common **/
.textEllipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/** Common **/
/** Home slider Item - Start **/
.imgContainer {
    position: relative;
    width: 100%;
}
.parent {
    background: #d8d8d8 none repeat scroll 0 0;
    padding-top: 66.6667%;
    position: relative;
}
.children {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.content {
    height: 100%;
    width: 100%;
    position: relative;
}
.imageContent {
    height: 100%;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}
.infoContainer {
    padding-top: 8px;
}
.linkContainer, .linkContainer:hover {
    display: block;
    text-decoration: none;
    cursor: pointer;
}
.infoText {
    color: #484848;
    font-family: inherit;
    margin: 0px;
    word-wrap: break-word;
    line-height: 18px;
    letter-spacing: 0.2px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline;
}

.infoReview {
    font-size: 15px;
}

.infoTitle {
    font-size: 15px;
    margin-top: 8px;
}

.infoDesc {
    font-weight: 200;
    font-size: 14px;
    color: #767676;
}

.space1 {
    margin-bottom: 6px;
}

.textStrong {
    font-weight: bold;
}

.reviewStar {
    display: inline;
    position: relative;
    float: left;
}

.reviewText {
    padding: 5px;
}

.roomTitleBlock {
    display: inline-block;
    margin: 0px 10px 0px 0px;
}

.instantIcon{
    color: #ffb400;
    height: 16px;
    width: 16px;
}
/** Home slider Item - Start **/