:root {
  /*
   * Typography
   * ======================================================================== */

  --font-family-base: 'Segoe UI', 'HelveticaNeue-Light', sans-serif;

  /*
   * Layout
   * ======================================================================== */

  --max-content-width: 1080px;
  --max-container-width: 100%;

  /*
   * Media queries breakpoints
   * ======================================================================== */

  --screen-xs-min: 480px;  /* Extra small screen / phone */
  --screen-sm-min: 768px;  /* Small screen / tablet */
  --screen-md-min: 992px;  /* Medium screen / desktop */
  --screen-lg-min: 1200px; /* Large screen / wide desktop */

  --border-color: #dce0e0;
  --background-color: #ffffff;
  --btn-color: #484848;
  --btn-primary-bg: #ff5a5f;
  --btn-primary-color: #ffffff;
  --btn-primary-hover-bg: #58595B;
  --btn-secondary-bg: rgb(0, 132, 137);
  --btn-secondary-color: #ffffff;
  --btn-secondary-hover-bg: rgb(0, 108, 112);
}
