@import '../../components/variables.css';

.root{
  padding-left: 24px;
  padding-right: 24px;
}

.container {
  margin: 5px auto;
  padding: 0 0 40px;
  margin-top: 30px;
  max-width: var(--max-content-width);
}