@import '../../components/variables.css';
@import '../../components/utils.css';
/*************************Common Styles start******************************************/

.btn {
  padding: 7px 21px;
  border-color: #c4c4c4;
  background: white;
  color: #484848;
  font-weight: bold;
  font-size: 14px;
  border-radius: 2px;
}

.btnPrimary {
  border-color: #ff5a5f;
  background-color: #ff5a5f;
  color: #fff;
  font-family: inherit;
}

.btnlarge {
  padding: 9px 27px;
}

.btnPrimary:hover, .btnPrimary:focus, .btnPrimary:active, .btnPrimary:active:hover, .btnPrimary:active:focus {
  border-color: #ff5a5f;
  background-color: #ff5a5f;
  color: #fff;
}

.btnPrimaryBorder {
  border-color: #ff5a5f;
  color: #ff5a5f;
  background-color: #fff;
}

.btnPrimaryBorder:hover, .btnPrimaryBorder:focus, .btnPrimaryBorder:active, .btnPrimaryBorder:active:hover, .btnPrimaryBorder:active:focus {
  border-color: #ff5a5f;
  color: #ff5a5f;
  background-color: #fff;
}

.btnRadius {
  border-radius: 0px;
}

.linkBtn {
  border-radius: 4px;
  padding: 9px 21px;
}

.space1 {
  margin-bottom: 6px;
}

.space2 {
  margin-bottom: 12px;
}

.space3 {
  margin-bottom: 18px;
}

.space4 {
  margin-bottom: 24px;
}

.space5 {
  margin-bottom: 36px;
}

.space6 {
  margin-bottom: 48px;
}

.spaceTop1 {
  margin-top: 6px;
}

.spaceTop2 {
  margin-top: 12px;
}

.spaceTop3 {
  margin-top: 18px;
}

.spaceTop4 {
  margin-top: 24px;
}

.spaceTop5 {
  margin-top: 36px;
}

.spaceTop6 {
  margin-top: 48px
}

.noMargin {
  margin: 0px;
}

.noPadding {
  padding: 0px;
}

.noBorder {
  border: 0px none !important;
}

/*************************Common Styles end******************************************/

/*************************Sidenavigation Styles start******************************************/

.sidebarDesign {
  padding: 50px 0;
  border: 1px solid #dce0e0;
  background: #ffffff;
}

.sidebarContainer {
  padding: 0 50px;
}

.textCenter {
  text-align: center;
}

.profileAvatarSection {
  position: relative;
  margin: 0 auto;
}

.profileAvatarLink {
  backface-visibility: hidden;
  position: relative;
  display: inline-block;
  overflow: hidden;
  background-color: #bbb;
  border-radius: 50%;
  border: 2px solid #fff;
}

.profileName {
  font-size: 18px;
  font-weight: bold;
  color: #484848;
}

.profileDetail {
  font-size: 14px;
  color: #767676;
}

.horizontalLine {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  border-top: 2px solid #9b9b9b;
}

.textGray {
  color: #9b9b9b;
}

.textBold {
  font-weight: bold;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .hideSm {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .sidebarContainer {
    padding: 0 25px;
  }
}

/*************************Sidenavigation Styles End******************************************/

/*************************Message Styles start******************************************/

.contextPadding {
  padding-top: 8px;
  padding-bottom: 14px;
  border-radius: 0px;
}

.rowCondensed {
  margin-left: -6px;
  margin-right: -6px;
}

.textBody {
  margin: 0;
  padding: 20px;
  text-align: left;
}

.bottomButton {
  text-align: right;
  padding: 20px;
}

.textBox {
  height: 80px !important;
  border: 0px;
  margin-top: 0;
  box-shadow: none;
}

.btnRight {
  margin-left: 10px;
}

.panelDark {
  background-color: #dce0e0;
  margin: 0;
}

.timeText {
  color: #767676;
}

.timeText:hover, .timeText:focus {
  color: #767676;
  text-decoration: none;
  outline: none;
}

/*************************Chat bubble Right & Left Styles start******************************************/

.panelQuote {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  border-radius: 0px;
}

.panelBubble {
  display: block;
  position: relative;
  height: auto;
  border-radius: 0;
}

.panelBubbleLeft::before {
  content: ' ';
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  bottom: auto;
  border: 10px solid transparent;
  border-left: 0;
  border-right-color: #dce0e0;
  top: -1px;
  left: initial;
  right: 100%;
  border-width: 0 27px 27px 0;
  border-color: transparent #dce0e0 transparent transparent;
}

.panelBubbleLeft::after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border-width: 0 25px 25px 0;
  border-color: transparent #dce0e0 transparent transparent;
}

.panelBubbleRight::before {
  content: "";
  display: inline-block;
  position: absolute;
  right: -10px;
  top: -1px;
  left: 100%;
  border: 10px solid transparent;
  border-left-color: #dce0e0;
  border-width: 27px 27px 0 0;
  border-color: #dce0e0 transparent transparent;
}

.panelBubbleRight::after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border-width: 0 25px 25px 0;
  border-color: transparent #dce0e0 transparent transparent;
}

.panelText {
  word-break: break-word !important;
}

/*************************Chat bubble Right & Left Styles end******************************************/

/*************************Notification Message Styles start******************************************/

.inlineStatus {
  text-transform: uppercase;
}

.horizontalText {
  overflow: hidden;
  text-align: center;
}

.textWrapper {
  position: relative;
}

.textWrapper::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #dce0e0;
  width: 500px;
  top: 50%;
  right: 100%;
  margin-right: 15px;
}

.textWrapper::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #dce0e0;
  width: 500px;
  top: 50%;
  left: 100%;
  margin-left: 15px;
}

/*************************Notification Message Styles end******************************************/

.horizondalLine {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  border-top: 1px solid #dce0e0;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.textGray {
  color: #9b9b9b;
  font-size: 14px;
}

.chevronIcon {
  font-size: 1.5em;
  margin-top: 10px;
  font-weight: normal;
  font-style: normal;
}

.timerIcon {
  font-size: 1.5em;
  font-weight: normal;
  font-style: normal;
}

.checkInDate {
  font-size: 14px;
  color: #484848;
}

.pullLeft {
  float: left;
}

.pullRight {
  float: right;
}

/** Discount **/

.discountText {
  color: #3fb34f;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
}