@import '../../../components/variables.css';
@import '../admin-common.css';
@import '../admin-form.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 100px auto;
  padding: 0 0 40px;
  max-width: 420px;
}

.panelHeader{
  border-radius: 0;
  width: 100%;
  display: block;
  color: #484848;
  font-size: 16px;
  padding-bottom: 12px;
  border-bottom: 1px solid #dce0e0;
}

.labelText {
  display: inline-block;
  margin-bottom: 5px;
  max-width: 100%;
  color: #484848;
}

.formGroup {
  margin-bottom: 15px;
}

.spaceTop{
  margin-top:15px;
}

.formControlInput {
  padding: 10px 35px 10px 10px;
  height: 45px;
  font-size: 14px;
  border: 1px solid #aaa;
  background-color: #fff;
  color: #484848;
  border-radius: 0;
}

.button {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 16px;
  width: 100%;
  outline: 0;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background: #ff5a5f;
  color: #484848;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.3333333;
  cursor: pointer;
}

.button:hover {
  background: #ff5a5f;
}

.button:focus {
  border-color: #0074c2;
  box-shadow: 0 0 8px rgba(0, 116, 194, 0.6);
}
.btnPrimary {
    border-color: #ff5a5f;
    background-color: #ff5a5f;
    color: #fff;
}

.btnPrimary:hover, .btnPrimary:focus, .btnPrimary:active,
.btnPrimary:active:hover, .btnPrimary:active:focus {
  border-color: #ff7e82 !important;
  background-color: #ff7e82 !important;
  color: #fff;
}

.btnPrimaryBorder {
    border-color: #ff5a5f;
    color: #ff5a5f;
    background-color: #fff;
}

.btnPrimaryBorder:hover, .btnPrimaryBorder:focus, .btnPrimaryBorder:active,
.btnPrimaryBorder:active:hover, .btnPrimaryBorder:active:focus {
  border-color: #ff7e82;
  color: #ff7e82;
  background-color: #fff;
}