@import '../common.css';

.sectionCaptionLink {
  font-size: 14px;
  color: #008489;
  font-weight: bold;
  cursor: pointer;
  text-transform: none;
}
.sectionCaptionLink:hover ,.sectionCaptionLink:active, .sectionCaptionLink:focus   {
  color: #008489;
  font-weight: bold;
  cursor: pointer;
  text-transform: none;
}
